.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  background-color: bisque;
  padding: 10px 50px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: beige;
}

.active {
  color: blue;
  font-weight: bolder;
}