<div class="home">
  <p>Soy el componente HOME</p>
  <button (click)="onReset()">{{ showList ? 'Ocultar' : 'Mostrar' }}</button>
  <ng-container *ngIf="showList">
    <ul>
      <li
        *ngFor="let hero of heroes; index as i"
        (click)="onHeroClick(hero, i)"
        [ngClass]="{ selected: hero === selectedHero }"
      >
        {{ hero.name }}
      </li>
    </ul>
    <div>Su ciudad es: {{ selectedHero?.city }}</div>
  </ng-container>
  <br />
  <button (click)="addHero()">Nuevo Hero</button>
</div>
