<div class="hero">
  <p>Soy el componente HERO</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        placeholder="Your superhero name"
        formControlName="heroName"
      />
      <span *ngIf="name.touched && name.invalid">Required</span>
    </div>
    <div>
      <label for="city">City</label>
      <input
        type="text"
        id="city"
        placeholder="Superhero city"
        formControlName="heroCity"
      />
      <span *ngIf="city.touched && city.errors && city.errors['required']"
        >Required</span
      >
      <span *ngIf="city.touched && city.errors && city.errors['ciudadMala']"
        >No puede ser NTTCity</span
      >
    </div>
    <br />
    <button type="submit">Build hero</button>
  </form>
</div>
